<h1><%= @title %></h1>


<h2><%= @meetup.name %></h2>
<h3><%= @meetup.location %></h3>
<p><%= @meetup.description %></p>


<h3>
  <form action="/<%= @meetup.id %>" method="post">
    <input type="submit" value="Join this Meetup" />
  </form>
</h3>

<br><br>

<h2>Members of <%= @meetup.name %></h2>

<% @members.each do |member| %>
  <div class="members">
    <img src="<%= member.avatar_url %>" class="avatar"><%= member.username %>
  </div>
<% end %>

