<h1><%= @title %></h1>


<h2><%= @meetup.name %></h2>
<h3><%= @meetup.location %></h3>
<p><%= @meetup.description %></p>


<h3>
  <form action="/<%= @meetup.id %>" method="post">
    <input type="submit" value="Join this Meetup" />
  </form>
</h3>
