<h1><%= @title %></h1>


<h2><%= @meetup.name %></h2>
<h3><%= @meetup.location %></h3>
<p><%= @meetup.description %></p>

<br><br>

<form action="/<%= @meetup.id %>" method="post">
  <input type="submit" value="Join this Meetup" />
</form>


<br><br>

<h2>Members of <%= @meetup.name %></h2>
<% if @members.empty? == true %>
  <p>There are no members in this meetup.</p>
<% else %>
  <% @members.each do |member| %>

    <div class="members">
      <img src="<%= member.avatar_url %>" class="avatar"><%= member.username %>
    </div>
  <% end %>
<% end %>

<br><br>

<form action="/leave_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Leave this Meetup" />
</form>
